.header {

    &__menu {
        height: 100px;
        display: flex;
        justify-content: space-between;
        position: relative;
        border-bottom: 3px solid orange;
        margin-bottom: 50px;
    
    }

    &_left {
        width: 60%;
        display: flex;
        justify-content: space-between;
        
    }

    &__logo {
        width: 150px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        span {
            width: 50px;
            height: 50px;
            border-radius: 100%;
            background-color: black;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 25px;
            font-weight: 900;
        }

        &-name{
            font-size: 30px;
            font-weight: 900;
            color: black;
            
        }
    }
}


.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;

    &__item {
        padding: 10px 15px;

        &:hover {
            background-color: orange;
            border-radius: 6px;
        }

        &-links {
            color: #37352f;
            font-size: 20px;
        }

        &-active {
            background-color: orange;
            margin: 95px 0 0 0;
        }
    }
}

.login-btn {
    font-size: 14px;
    font-weight: 600;
    color: #090;
    padding: 8px 20px;
    border-radius: 4px;
    background-color: #fff;
    border: none;
    cursor: pointer;
}